<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>BeerCrawlr</title>
 
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">

    <link rel="shortcut icon" href="">
 
 
</head>

<style>
.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

#map {
        height: 500px;
        width: 500px;
      }

</style>
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#">BeerCrawlr</a>
                    </li>
                    <li role="presentation"><a href="#">about</a>
                    </li>
                    <li role="presentation"><a href="showSignUp">Contact us</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">BeerCrawlr</h3>
        </div>
 
        <div class="jumbotron">
            <h1>Bring me Beer!</h1>

            <!-- Need the following inputs-->
            <!-- start_string = 'The Anchor, 34 Park St, Southwark, London SE1 9EF'
                end_string = 'Southwark Brewing Company'
                n_places = 2
                mode="bicycling" 
                -->
            <form role="form">
                <div class="form-group">
                    <label for="start">Where do you want to start?</label>
                    <input id='start' type="text" class="form-control" name="start" value="{{init_start}}">
                </div>
                <div class="form-group">
                    <label for="end">
                        Where do you want to end?
                    </label>
                    <input id='end' type="text" class="form-control" name="end" value="{{init_end}}">
                </div>
                <div class="form-group">
                <label for="travel">How do you want to travel?</label>
                    <label class="radio-inline">
                        <input type="radio" name="travel" value="walking" checked>
                        Walking
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="travel" value="bicycling">
                        Cycling
                    </label>
                </div>
                <div class="form-group">
                    <label for="stops">How many stops in between?</label>
                    <select class="form-control" name='stops' id="stops">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                </div>
                <p>
                    <a  id="get_directions" class="btn btn-lg btn-success" role="button">Give me beer!</a>
                    <a id='loading' class="btn btn-lg btn-warning"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading...</a>
                </p>
            </form>
            
        </div>

        <div id='map'></div>
 





        <footer class="footer">
            <p>&copy; Andrew Patterson 2016</p>
        </footer>
 
    </div>
</body>
 
 <script type="text/javascript" src="static/jquery-3.0.0.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key={{api_key}}"></script>
 <script type="text/javascript">

 var map;


$(function() {

    //travelmodes
    travelModes = {
        'walking':google.maps.TravelMode.WALKING,
        'bicycling':google.maps.TravelMode.BICYCLING
    }

    //main function on click "give me beer!"
    $('#get_directions').click(function() {

        var data_send = $('form').serialize()
        console.log($('form'))
        console.log(data_send)

        //$('#get_directions').hide();
        $('#loading').show();
 
        $.ajax({
            url: '/directions',
            data: data_send,
            dataType: "json",
            success: function(response) {

                console.log(response);

                // reset bounds of graph to local area
                //reset_bounds(response)

                new_route(
                    response.parameters.start,
                    response.parameters.end,
                    createWaypointLiteral(response.parameters.waypoints),
                    response.parameters.travel
                    )

                //loadMap(london_centre)

                // add places and directions to map
                //add_directions(response)

                //$('#map').show();

                //$('#get_directions').show();

                $('#loading').hide();  
            },
            error: function(error) {
                console.log(error);
            }
        });


    });


    //function to load map
    function loadMap(centre={lat: 51.5074, lng: 0.1278}) {
        directionsService = new google.maps.DirectionsService;
        directionsDisplay = new google.maps.DirectionsRenderer;
        map = new google.maps.Map(
            document.getElementById('map'),
            {
                center: centre,
                zoom: 10
            });
        directionsDisplay.setMap(map);
    }

    function createWaypointLiteral(waypoints) {
        var waypointArray = [];

        for (i in waypoints) {
            waypointArray.push({
                location: waypoints[i],
                stopover: false
            })
        }

        console.log(waypointArray)

        return waypointArray
    }

    function new_route(start,end,waypoints,travel) {
        directionsService.route({
          origin: start,
          destination: end,
          travelMode: travelModes[travel],
          waypoints: waypoints,
          optimizeWaypoints: true

        }, function(response, status) {
          if (status === google.maps.DirectionsStatus.OK) {
            directionsDisplay.setDirections(response);
          } else {
            window.alert('Directions request failed due to ' + status);
          }
        });

    }

    function calculateAndDisplayRoute(directionsService, directionsDisplay) {
        directionsService.route({
          origin: document.getElementById('start').value,
          destination: document.getElementById('end').value,
          travelMode: google.maps.TravelMode.DRIVING
        }, function(response, status) {
          if (status === google.maps.DirectionsStatus.OK) {
            directionsDisplay.setDirections(response);
          } else {
            window.alert('Directions request failed due to ' + status);
          }
        });
      }

    
    function initMap() {
        var directionsService = new google.maps.DirectionsService;
        var directionsDisplay = new google.maps.DirectionsRenderer;
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 7,
          center: {lat: 41.85, lng: -87.65}
        });
        directionsDisplay.setMap(map);

        var onChangeHandler = function() {
          calculateAndDisplayRoute(directionsService, directionsDisplay);
        };
        document.getElementById('start').addEventListener('change', onChangeHandler);
        document.getElementById('end').addEventListener('change', onChangeHandler);
      }

    inital_centre = {lat: 44.540, lng: -78.546}
    london_centre = {lat: 51.5074, lng: 0.1278}

    loadMap(london_centre)

    //$('#map').hide();
    $('#loading').hide();

});

 </script>
</html>